html{
    background-image: url("https://images.pexels.com/photos/556416/pexels-photo-556416.jpeg?auto=compress&cs=tinysrgb&h=350");
    background-repeat: no-repeat;
    background-size: cover;
    
  }
  .flash{
    animation-name: flash;
      animation-duration: 0.5s;
      animation-timing-function: linear;
      animation-iteration-count: infinite;
      animation-direction: alternate;
      animation-play-state: running;
  }
  @keyframes flash {
      from {color: linen;}
      to {color: green;}
  }
  h1{
    font-family: calibri;
    font-size:30px;
    color:teal;
    text-align: center;
    margin:50px;
  }
  nav{
    text-decoration: none;
    text-align: right;
    font-family: calibri;
    font-size: 25px;
  }
  nav>a:hover{
    background-color:snow;
    padding: 5px;
    border:1px solid;
    box-shadow: 5px 5px 10px 12px aqua;
  }
  #one{
    box-shadow: 5px 5px 10px 12px olivedrab;
  }
  a{
    color: teal;
    font-size: 25px;
    text-decoration:none;
    background-color:snow ;
  }
  a:hover{
    color:olivedrab;
  }
  /*this project helps us to to practice what we learnt*/
  P{
    color: snow;
    width: 700px;
    font-family: arial black;
  }
  table{
    padding: 5px;
    border: 7px solid white;
    border-collapse: collapse;
    background-color: teal;
    width:90%;
    height:60%;
  }
  th{
    padding: 10px;
    border: 5px solid white;
    border-collapse: collapse;
    color: turquoise;
    font-family: calibri;
    font-size: 30px;
  }
  tr{
    padding: 5px;
    border: 5px solid white;
    border-collapse: collapse;
  }
   td{
    padding: 5px;
    border: 5px solid white;
    border-collapse: collapse;
    color: ivory;
    font-family: calibri;
    font-size: 20px;
  }
  .sab{
    text-align: center;
  }
  